.card {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  border: 1px solid #eee;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.product_detail {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-items: center;
}

.product_title {
  font-size: 12px;
  text-align: center;
}

.product_price {
  font-size: 12px;
  color: #06e906;
}

.thumbnail {
  width: 200px;
  object-fit: cover;
}